.manga-item {
  position: relative;
  cursor: pointer;
  &:hover {
    filter: contrast(0.8);
    transition: all 0.2s ease-in-out;
  }
}
.manga-img {
  width: 210px;
  height: 315px;
  border-radius: 8px;
}
.manga-container {
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0 8px;
  position: absolute;
  bottom: 10px;
  text-align: center;
}
.chapter {
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 1.3rem;
  border: 1px solid var(--white);
  font-weight: 600;
  padding: 2px;
  position: absolute;
  top: 8px;
  left: 8px;
}
