.notify {
  display: flex;
  position: relative;
  &:hover .episodes {
    color: #23c6c8;
    background-color: rgba(255, 255, 255, 0.5);
  }
  &:hover .info__name {
    filter: contrast(1.75);
  }
  &:hover .info__view {
    color: #23c6c8;
  }
  &:hover .notify-image {
    // transform: scale(1.1);
    // transition: all 0.4s ease;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.wrapper-img {
  width: 100px;
  height: 56px;
  margin: 8px;
  overflow: hidden;
}
.notify-image {
  width: 100%;
  height: auto;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}
.episodes {
  position: absolute;
  display: block;
  content: "";
  left: 12px;
  top: 14px;
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  padding: 4px 6px;
}
.notyfy__info {
  margin-top: 8px;
}
.info__name {
  font-size: 1.2rem;
  color: var(--font-color);
  font-weight: 400;
  padding-bottom: 6px;
}
.info__view {
  font-size: 1rem;
  color: #888;
}
