@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  //backgroundPrimary
  --white: white;
  --dark: #333;
  --black: black;
  --primary: var(--dark);
  --font-color: var(--color-primary-dark);
  --color-primary-dark: #23c6c8;
  --color-primary-sun: #000;
  --primary-no-active: rgba(255, 255, 255, 0.8);
  //defauktlayouts
  --defaultHeaderHeight: 60px;
  --defaultWidth: 1320px;
  //Header
  --border-header-dark: hsl(0deg 0% 100% / 25%);
  --border-header-sun: rgba(0, 0, 0, 0.5);
  --border-header: var(--border-header-dark);
  --background-icon-header-dark: #444;
  --background-icon-header-sun: #eee;
  --background-icon-header: var(--background-icon-header-dark);
  --weather-dark: #cacaca;
  --weather-sun: #333;
  --weather: var(--weather-dark);
  //policy
}

html {
  font-size: 62.5%;
}
body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.6rem;
  text-rendering: optimizeSpeed;
  background-color: var(--primary);
}

a[href] {
  text-decoration: none;
  display: block;
}
button {
  background-color: transparent;
  border: none;
}
input {
  outline: none;
}
ul > li {
  list-style: none;
}
.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -6px;
  margin-right: -6px;
  margin-top: -12px;
}
.grid__column-4 {
  width: 25%;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 12px;
}
.grid__column-75 {
  width: 75%;
  padding-left: 6px;
  padding-right: 6px;
}
.grid__column-6 {
  width: 16.666666666666668%;
  padding-left: 6px;
  padding-right: 6px;
}
