.home-more {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 10px;
  cursor: pointer;
}
.home-more_content {
  background-color: rgb(26, 179, 148);
  color: var(--white);
  font-size: 1.4rem;
  padding: 6px 8px;
  border-radius: 10px;
  &:hover {
    background-color: rgba(26, 179, 148, 0.8);
  }
}
